
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p style="font-size:24px">Bạn đã mua cuốn sách <strong>@Model.Name</strong> với giá <strong>@Model.Price</strong> VNĐ</p>

